button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.preload {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.preload .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0px solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.preload .loader:before, .preload .loader:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -17px;
  border-radius: 50%;
  border: 16px solid #aece89;
  width: inherit;
  height: inherit;
  opacity: 0;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
}

.preload .loader:before {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.preload_finish {
  opacity: 0;
  pointer-events: none;
}

.typing_animation {
  -webkit-animation: typing 8s steps(30) infinite, blinkText 0.8s steps(30) infinite normal;
          animation: typing 8s steps(30) infinite, blinkText 0.8s steps(30) infinite normal;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 390px;
  }
  80% {
    width: 390px;
  }
  100% {
    width: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 390px;
  }
  80% {
    width: 390px;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes blinkText {
  from {
    border-color: transparent;
  }
  to {
    border-color: #b2b2b2;
  }
}

@keyframes blinkText {
  from {
    border-color: transparent;
  }
  to {
    border-color: #b2b2b2;
  }
}

.width {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 100%;
  max-width: 130px;
  height: 65px;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 77px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__item {
  display: block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #fff;
  color: #fd5e4e;
  margin-right: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pagination__item:hover {
  -webkit-box-shadow: 0 0 20px -5px #153d4d;
          box-shadow: 0 0 20px -5px #153d4d;
}

.pagination__item.active {
  -webkit-box-shadow: 0 0 20px -5px #153d4d;
          box-shadow: 0 0 20px -5px #153d4d;
}

.pagination__prev, .pagination__next {
  width: 40px;
}

.burger {
  display: none;
}

.img_response {
  max-width: 100%;
  display: block;
  height: auto;
}

.category {
  width: 100%;
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.category__item {
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  padding-right: 50px;
  cursor: pointer;
  position: relative;
}

.category__item:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #aece89;
  bottom: -1px;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.category__item:hover:after {
  width: 100%;
}

.category__item.active {
  position: relative;
  color: #aece89;
}

.category__item.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #aece89;
  bottom: -1px;
  left: 0;
}

.line_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  height: 30px;
  width: 275px;
}

.line img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.calendar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.calendar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.calendar__icon i {
  font-size: 40px;
}

.calendar__input {
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 0;
  width: 0;
  border: none;
}

.calendar__value {
  height: 40px;
  width: 105px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}

.clock, .state {
  margin-left: 5px;
  position: relative;
}

.clock__title, .state__title {
  text-align: center;
  width: 140px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.clock__item, .state__item {
  text-align: center;
  line-height: 43px;
  margin-bottom: 2px;
  cursor: pointer;
}

.clock__item:hover, .state__item:hover {
  background: #d8d8d8;
}

.clock__input, .state__input {
  display: none;
}

.clock__wrapper, .state__wrapper {
  position: absolute;
  top: 45px;
  left: 0;
  width: 140px;
  height: 0px;
  background: #fff;
  z-index: 3;
  border: 1px solid transparent;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.clock__wrapper_container, .state__wrapper_container {
  position: absolute;
  left: -7px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.clock__container, .state__container {
  width: 140px;
  height: 155px;
}

.clock__wrapper.active, .state__wrapper.active {
  height: 170px;
  border-color: black;
}

.fixed {
  background: #fff;
  z-index: 4;
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

[data-aos="decore"] {
  opacity: 0;
}

[data-aos="decore"].aos-animate {
  opacity: 1;
}
/*# sourceMappingURL=classes.css.map */